#wrap{
	max-width: 1000px;
	margin: auto;
}
#wrap h2{
	margin-left: : 5px;
}
#banner{
	width: 1000px;
	height: 250px;
}
#banner img{
	width: calc(100% - 20px);
	height: 250px;
	vertical-align: middle;
	margin: 0 10px;
}
#main-menu{
	position: relative;
	background-color: #ffffff;
	text-align: center;
	padding: 15px 0;
	margin: 0 10px;
	border-bottom: 1px solid #dddddd;
}
#main-menu >a:first-child{
	position: absolute;
	padding: 0;
	background-color: #FFFFFF;
	border-radius: 50%;
	top:-50px;
	left: 35px;
}
#main-menu >a:first-child >img{
	max-width: 150px;
	border-radius: 50%;
	vertical-align: middle;
}
#main-menu a{
	padding: 15px;
	font-size: 20px;
	color: #737373;
	text-decoration: none;
}

/*-------------------------main-content---------------------------*/

#main-content{
	width: 1000px;
	height: 800px;
	position: relative;
}
#content{
	margin-left:calc(25% - 20px); 
}
.col{
	width: calc(25% - 20px);
	height: 250px;
	margin: 10px 10px;
	float: left;
}
.col img{
	width: 100%;
	height: 250px;
}

/*----------------------------left-menu-----------------------------*/
#left-menu{
	position: absolute;
	top: 10px;
	left: 0px;
	height: 800px;
	float: left;
}
#left-menu h1{
	background:#99CC00;
	color:#FFFFFF;
	font-size:16px;
	text-align:center;
	height: 27px;
}
#left-menu ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
 
#left-menu ul a{
	text-decoration:none;
	line-height:25px;
	color:#333333;
	background:#EEEEEE;
	display:block;
	width:215px;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #CCCCCC;
	padding-left:15px;
}
#left-menu ul a:hover{
	background:#FFCC99;
}
/*----------------------------footer-----------------------------*/
#footer{
	position: fixed;
	right: 30px;
	bottom: 0px;
	margin-bottom: 0px;
}
#footer img{
	width: 75px;
	height: 50px;
}